<h1>How many bottle of water and ounces you drink for the day:</h1>

<form action="/orders" method="POST">

    Bottle: <input type=number name="bottle">
    Ounces: <input type=number name="ounces">
    <input type=Submit>



</form>
