

<form action="/orders" method="POST">
  <h3><h3>Please the number of bottle of water and the ounces you drink for the day:</h3>

    Bottle: <input type=number name="bottle">
    Ounces: <input type=number name="ounces">
    <input type=Submit>



</form>
</h3>
