<h1>Welcome <%@user%> </h1>

<h2>At wellness center our goal is to make sure you stay hydrated all day aand keep track of your hydration</h2>


<h4>Enter your data <a href='/data'>Here</a></h4>

<h3><a href="/logout">logout</a> here <h3>
